[submodule "external/orpheusdl-qobuz"]
	path = external/orpheusdl-qobuz
	url = https://github.com/KyokoMiki/orpheusdl-qobuz.git
[submodule "external/orpheusdl"]
	path = external/orpheusdl
	url = https://github.com/OrfiTeam/OrpheusDL
[submodule "external/orpheusdl-musixmatch"]
	path = external/orpheusdl-musixmatch
	url = https://github.com/OrfiDev/orpheusdl-musixmatch
